#T1
{
    text-align: center;
    font-family: cursive;
    font-size: 50px;
}
#menu
{
background-color: black;
}

#content
{
font-size: 25px;
color: black;
position: relative;
background-color: white;
border: 10px;
border-style: solid;
border-color: black;
top: 50%;
margin-top: -170px;
width: 75%;
margin-left: auto;
margin-right: auto;
padding: 25px;
}

body
{
background-image: url(../images/fulls/Camp-Nou-Barcelona-Stadium-Wallpaper-660x330.jpg);
background-size: cover;
}

h1
{
color: #8B0000;
text-align: center;
font-size: 41px;
}





